@import "@neuekit/reboot";

:root {
  --gutter: clamp(2rem, 3vw, 2.5rem);

  --form-height: 4rem;

  --black: black;
  --white: #fff;

  --grey-1: #fafafa;
  --grey-2: #eaeaea;
  --grey-3: #ccc;
  --grey-4: #999;
}

html {
  box-sizing: border-box;
  font-family: "system-ui", "-apple-system", "Segoe UI", "Roboto", "Ubuntu",
    "Cantarell", "Noto Sans", "sans-serif", "BlinkMacSystemFont",
    "Helvetica Neue", "Arial", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 62.5%;
  height: -webkit-fill-available;
}

*,
::before,
::after {
  box-sizing: inherit;
  position: relative;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

#svelte {
  display: contents;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  letter-spacing: -0.04em;
  line-height: 1.4;
}

::selection {
  background: aquamarine;
}

.u-h1 {
  font-size: clamp(2rem, 3.5vw, 4rem);
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding: var(--gutter);
  text-align: center;
}

fieldset {
  border: inherit;
  margin: 0;
  padding: inherit;
}

.u-screenReaderOnly {
  border-width: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.input-item {
  --border-color: var(--grey-3);

  display: grid;
  gap: 0.4em;
}

.input-item:focus-within {
  --border-color: var(--black);
}

.u-signPost {
  font-size: 0.7em;
  font-weight: inherit;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.input-wrapper {
  border: 0.1rem solid var(--border-color);
  border-radius: 0.5rem;
  display: flex;
  height: var(--form-height);
  padding: 0.2em;
  transition: border 0.2s ease 0s, color 0.2s ease 0s;
}

.input-el {
  appearance: none;
  border: none;
  outline: none;
  width: 100%;
}
